// ==============================
// Post footer
// =============================

.footer {
  margin-top: $footer-margin-top;
  box-shadow: 0 -1px 6px rgba(26,26,26,.1);
  background: $white;

  @import "_footer/social";
  @import "_footer/copyright";
}