// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  background-color:#34495e;
  padding: 0 18px;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    color: #fff!important;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
